/*** CSS For Muvera ***/

@font-face {
	font-family: 'AvenirNext';
	src: url('type/AvenirNextLTPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'AvenirNextBold';
	font-weight: bold;
	src: url('type/AvenirRoman.otf');
}
@font-face {
	font-family: 'AvenirNextMed';
	font-weight: medium;
	src: url('type/AvenirRoman.otf');
}
@font-face {
	font-family: 'AvenirNextUltraLight';
	src: url('type/AvenirNext-UltraLight.woff') format('woff');
}
@font-face {
	font-family: 'GothamMed';
	src: url('type/Gotham-Med.woff') format('woff');
}

html {
	font-family: 'AvenirNext';
	font-size: 9.15pt;
	width: 100%;
	line-height: 1.28578;
	-webkit-font-smoothing: subpixel-antialiasied;
	text-rendering: optimizeLegibility;
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

div {
	display: block;
}

a {
	padding: 0 5px;
	color: #fff;
	text-decoration: none; 
}

table {
	text-align: center;
	border: none;
}
th, tr{
	border: none;
}
td{
	border: none;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

/* Header Bar */
#header {
	position: fixed;
	background-color: #131418;
	height: 50px;
	width: 100%;
	position: fixed;
	margin: 0;
	z-index: 3;
}

.header-container {
	height: 50px;
	clear: both;
}

.header-left {
	position: fixed;
	width: 25%;
}

.header-right {
	position: fixed;
	width: 25%;
}

.header-mid {
	padding: 0 35%;
	position: fixed;
	text-align: center;
	color: #FFFFFF;
}

.header-mediaonline {
	position: fixed;
	padding: 18px 20px;
}

.header-twitter {
	position: fixed;
	padding: 18px 20px;
	display: none;
}

.header-facebook {
	position: fixed;
	width: auto;
	padding: 18px 0;
	display: none;
}

.header-logo {
	position: fixed;
	padding: 7px 12px;
	color: #FFFFFF;
	font-family: "GothamMed";
	font-size: 27.83pt;
	line-height: 27.84pt;
}

.header-dashboard {
	position: fixed;
	right: 10%;
	background: #F27321;
	background: linear-gradient(to right, #E41E79, #F27321);
	background: -webkit-linear-gradient(left, #E41E79 , #F27321); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #E41E79, #F27321); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #E41E79, #F27321); /* For Firefox 3.6 to 15 */
	color: #FFFFFF;
	height: 14px;
	padding: 18px 15px;
}

.header-login {
	position: fixed;
	right: 0;
	padding: 17px 53px; 
	color: #FFFFFF;
}

.header-mediaonline:hover,
.header-facebook:hover,
.header-twitter:hover,
.header-login:hover {
	cursor: pointer;
	color: #565B68;
}

.header-active {
	color: #565B68;
}

/* Banner */
.banner {
	margin: 0;
	padding: 0;
}

.banner-top {
	font-family: 'AvenirNextUltraLight';
	padding-top: 35px;
	background-color: rgba(19,20,24,0.65);
	color: #FFFFFF;
	height: 110px;
	width: 100%;
	text-align: center;
	font-size: 20.25pt;
}

.banner-bot {
	background-color: #fff;
	border-bottom: 2px solid #cdcdcd; 
	height: 55px;
	width: 100%;
}

/* Content */
.content {
	position: fixed;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #eaeaea;
	overflow-y: scroll;
}

.content-container {
	margin: 0 9.5%;
	padding: 0px 35px;
	height: 177.78%;
}

h1.content-title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px
}

/* Section */
.section-search {
	background-color: #fff;
	height: 520px;
	padding-top: 20px;
}

.section-choice {
	background-color: #fff;
	position: relative;
	padding: 0 20px;
	top: -230px;
	height: 810px;
}

.section-report {
	background-color: #fff;
	position: relative;
	padding: 0 20px;
	height: 625px;
	display: none;
}

/* Form */
form#search-form{
	height: 100%;
}

form#share-form{
	height: 175px;
}

/* Search Word */
#search-container {
	position: relative;
	margin: 20px 16%;
	margin-right: 0;
	height: 60px;
}

input.search-keyword {
	margin: 0 1.4%;
	padding: 15px 10px;
	width: 90px;
	color: #cdcdcd;
	font-size: 12pt;
	border: 3px solid #dcdcdc;
	border-radius: 2px;
	float: left;
	cursor: pointer;
}

input.search-keyword-main:hover, 
input.search-keyword-main:focus {
	border-left: 3px solid #E41E79;
	color: #565B68;
}

input.search-keyword-tax:hover,
input.search-keyword-tax:focus {
	border-left: 3px solid #B9C0FF;
	color: #565B68;
}

.tax1, .tax2, .tax3, .tax4 {
	display: none;
}

/* Report */
h3 {
	font-size: 20px;
}

h3>img {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}

#report-1 {
	display: none;
}

.report-content-chart {
	height: 350px;
}

.report-content-file {
	height: 350px;
}

.chart-container {
	margin-bottom: 20px;
}

.file-container {
	margin-top: 20px;
}

.report-file {
	padding-top: 50px;
}

img.file {
	margin-top: 60px;
	margin-left: 300px;
	height: 300px;
}

#share-cont {
	margin: 10px 240px;
	border-radius: 5px;
	height: 175px;
	width: 500px;
	background: #d6d8da;
	display: none;
}

/* Datepicker */
.get-time {
	position: relative;
	width: 73%;
	margin: 1% 27%;
}

#datepicker-container {
	width: inherit;
	margin: 1%;
	float: left;
}

#timepicker-container {
	width: inherit;
	margin: 1%;
	float: left;
}

.datepicker-from {
	margin-right: 4%;
}

.timepicker-from {
	margin-right: 0.8%; 
}

.datepicker-from, .datepicker-to/*,
.timepicker-from, .timepicker-to*/ {
	background: #B9C0FF;
	float: left;
}

.timepicker-from, .timepicker-to {
	margin-left: 8.9%;
	background: #dcdcdc;
	float: left;
}

input.from-date, input.to-date,
input.from-time, input.to-time,
select.from-period, select.to-period {
	border: none;
	background: #dcdcdc;
	height: 2.4em;
	text-align: right;
	border-radius: 0;
	margin: 0;
}

input.from-date, input.to-date {
	width: 10em;
	padding: 0 1em;
}

input.from-time, input.to-time {
	width: 3.7em;
}

select.from-period, select.to-period {
	background: #B9C0FF;
	width: 3.9em;
	padding-left: 15px;
}

input[type=date] {
	font-family: 'AvenirNext';
}

input[type=date]::-webkit-inner-spin-button {
	display: none;
}

::-webkit-calendar-picker-indicator {
	padding: 4px 7px;
	background: #dcdcdc;
}

/*input[type=time]::-webkit-inner-spin-button {
	padding: 7px 7px;
	background: #dcdcdc;
}*/

input[type=number]::-webkit-inner-spin-button {
	height: 2.5em;
	color: #dcdcdc;
}

input[type=number]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000000;
}

#share-form>input {
	margin: 50px 40px 0 40px;
	padding-left: 20px;
	border-radius: 5px;
	border: none;
	height: 50px;
	width: 400px;
	font-size: 12pt;
}

#datepicker-container label,
#timepicker-container label {
	margin: 0;
	padding: 9px 10px;
}

/* Choose Media */
.media-container {
	margin: 0 6.3%;
	padding: 0;
}

.media-box {
	display: inline-block;
	border: 1px solid #cdcdcd;
	width: 115px;
	height: 140px;
	margin: 0.1%;
	overflow-y: auto;
}

.media-box-cont {
	width: 100%;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.media-box-cont>label:hover {
	border: 0.1em solid #cdcdcd;
	border-radius: 3px;
	background: #dedede;
	position: absolute;
	display: inline-block;
}

.media-box-img {
	position: absolute;
	display: inline-block;
	background: #cdcdcd;
	width: 115px;
	height: 140px;
	font-size: 900%;
	text-align: center;
}
/*
.btn-media-container {
	margin: 0 3%;
	padding: 0;
}

.btn-media {
	display: inline-block;
	margin: 1% 1.15%;
	background-color: #131418;
	overflow: hidden;
}

.btn-media-md {
	height: 10.59%;
	width: 30.73%;
}

.btn-media-lg {
	height: 100px;
	width: 437px;
}

.btn-media label {
	display: inline-block;
	background-color: #131418;
	font-weight: bold;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.btn-media-md label {
	padding: 5.28% 0;
	font-size: 24pt;
	line-height: 24pt;
	height: 100%;
	width: 100%;
}

.btn-media-lg label {
	padding: 25px 0px;
	font-size: 34pt;
	line-height: 34pt;
	height: 50px;
	width: 437px;
}
*/
.btn-media input[type=checkbox] {
	display: none;
}

.btn-media label:hover {
	background: rgba(41,243,128,0.8);
}

.btn-media input[type=checkbox]:checked + label {
	background: rgba(41,243,128,0.8);
}

.btn-media-md input[type=checkbox]:checked + label {
	height: 100%;
	width: 100%;
}
/*
.btn-media-lg input[type=checkbox]:checked + label {
	height: 50px;
	width: 437px;
}
*/
/* Button */
.btn {
	cursor: pointer;
}

.btn-orange {
	background: #F27321;
	background: linear-gradient(to right, #E41E79, #F27321);
	background: -webkit-linear-gradient(left, #E41E79 , #F27321); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #E41E79, #F27321); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #E41E79, #F27321); /* For Firefox 3.6 to 15 */
	color: #fff;
}

.btn-orange:hover,
.btn-orange.selected {
	background: #9FC9FF;
	background: linear-gradient(to right, #B9C0FF, #9FC9FF);
	background: -webkit-linear-gradient(left, #B9C0FF ,#9FC9FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #B9C0FF, #9FC9FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #B9C0FF, #9FC9FF); /* For Firefox 3.6 to 15 */
}

.btn-blue {
	background: #9FC9FF;
	background: linear-gradient(to right, #B9C0FF, #9FC9FF);
	background: -webkit-linear-gradient(left, #B9C0FF ,#9FC9FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #B9C0FF, #9FC9FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #B9C0FF, #9FC9FF); /* For Firefox 3.6 to 15 */
	color: #fff;
}

.btn-blue:hover,
.btn-blue:selected {
	background: #F27321;
	background: linear-gradient(to right, #E41E79, #F27321);
	background: -webkit-linear-gradient(left, #E41E79 , #F27321); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #E41E79, #F27321); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #E41E79, #F27321); /* For Firefox 3.6 to 15 */ 
}

.btn-green {
	background: #29f380;
	background: linear-gradient(to right, #29f380, #29f380);
	background: -webkit-linear-gradient(left, #29f380 , #29f380); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #29f380, #29f380); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #29f380, #29f380); /* For Firefox 3.6 to 15 */
	color: #fff;
}

.btn-green:hover,
.btn-green.selected {
	background: #9FC9FF;
	background: linear-gradient(to right, #B9C0FF, #9FC9FF);
	background: -webkit-linear-gradient(left, #B9C0FF ,#9FC9FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #B9C0FF, #9FC9FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #B9C0FF, #9FC9FF); /* For Firefox 3.6 to 15 */
}

.btn-lg-rnd {
	border-radius: 50px;
	width: 46.74%;
	margin: 6.17% 13.21%;
	padding: 1.23% 0 1.23% 29.47%;
	font-size: 14pt;
	box-shadow: 0 15px 15px rgba(0,0,0,0.15);
}

#btn-dl-cont {
	margin: 0 290px;
	display: none;
}

.btn-rnd {
	display: inline-block;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 0 15px;
}

.btn-rnd>img {
	height: 72%;
	width: 60%;
	margin: 13px 20px;
}

.btn-sm {
	border-radius: 50px;
	width: 7%;
	margin: 10px 46%;
	padding: 0.07% 0 0.07% 0.19%;
	font-size: 0.45em;
}

.btn-md {
	border-radius: 5px;
	text-align: center;
	width: 418px;
	margin: 20px 40px;
	padding: 5px 0;
	font-size: 12pt;
}

.btn-lg {
	border-radius: 10px;
	text-align: center;
	width: 720px;
	margin: 30px 130px;
	padding: 10px 0;
	font-size: 14pt;
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

/* Footer Bar */
#footer {
	background-color: #131418;
	height: 25px;
	width: 100%;
	position: relative;
	margin: 0;
}

.footer-left {
	padding: 3px 10px;
	color: #FFFFFF;
	float: left;
}

.footer-right {
	padding: 3px 10px;
	color:  #FFFFFF;
	float: right;
}

a:hover {
	text-decoration: underline;
}

/* Loading */
#loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
}

#loading>img {
	position: fixed;
	top:40%;
	left:45%;
	height: 15%;
	opacity: 0.9;
	z-index: 10;
}

/* Chart */
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
